absl-py==1.4.0
accelerate==1.5.2
ace_tools==0.0
alembic==1.18.4
alibi==0.9.6
anyio==3.6.2
aplr==10.8.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
attrs==26.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.9.0
blis==0.7.9
cachetools==5.3.0
catalogue==2.0.8
cattrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==3.0.0
cmake==3.27.7
colorama==0.4.6
colorlog==6.10.1
comm==0.1.3
confection==0.0.4
contourpy==1.0.7
cryptography==48.0.0
cycler==0.11.0
cymem==2.0.7
dash==2.18.2
dash-core-components==2.0.0
dash-cytoscape==1.0.2
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.5.0/es_core_news_md-3.5.0-py3-none-any.whl#sha256=b65a00a896debcfcaec84245bc94a21b397c6b151e70d098d84b4d44d38ac14c
executing==1.2.0
fastf1==3.8.3
fastjsonschema==2.16.3
filelock==3.16.1
Flask==3.0.3
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
fsspec==2024.10.0
gast==0.4.0
gensim==4.3.1
gevent==24.11.1
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.21
greenlet==3.1.1
grpcio==1.54.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.8.0
huggingface-hub==0.29.2
idna==3.4
imageio==2.37.0
importlib_metadata==8.6.1
interpret==0.6.9
interpret-core==0.6.9
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.8
jedi==0.18.2
Jinja2==3.1.2
joblib==1.5.3
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
keras==2.12.0
kiwisolver==1.4.4
kmodes==0.12.2
langcodes==3.3.0
lazy_loader==0.4
libclang==16.0.0
lightgbm==4.6.0
lime==0.2.0.1
llvmlite==0.47.0
lxml==5.3.0
Mako==1.3.12
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.8.4
matplotlib-inline==0.1.6
mistune==2.0.5
ml-dtypes==0.1.0
mpmath==1.3.0
msgpack==1.1.2
multiprocess==0.70.17
murmurhash==1.0.9
narwhals==2.22.1
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.4.2
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.2
numba==0.65.1
numpy==2.4.6
oauthlib==3.2.2
opencv-python==4.12.0.88
opt-einsum==3.3.0
optuna==4.8.0
packaging==26.2
pandas==3.0.3
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
pickleshare==0.7.5
pillow==10.4.0
platformdirs==3.2.0
plotly==6.0.0
preshed==3.0.8
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.22.3
psutil==5.9.5
pure-eval==0.2.2
pyarrow==24.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.7
pydot==4.0.1
pygame==2.5.2
Pygments==2.15.1
PyJWT==2.12.1
pyparsing==3.2.5
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-json-logger==2.0.7
pytz==2023.3
pywin32==306
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
RapidFuzz==3.14.5
regex==2023.3.23
requests==2.33.1
requests-cache==1.3.2
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
safetensors==0.5.3
SALib==1.5.1
scikeras==0.4.1
scikit-image==0.22.0
scikit-learn==1.9.0
scikit-surprise==1.1.3
scipy==1.17.1
seaborn==0.12.2
Send2Trash==1.8.0
shap==0.51.0
signalrcore==1.0.2
simpleai==0.8.3
six==1.17.0
slicer==0.0.8
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-lookups-data==1.0.5
SQLAlchemy==2.0.49
srsly==2.4.6
stack-data==0.6.2
sympy==1.13.1
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.17.1
thinc==8.1.9
threadpoolctl==3.6.0
tifffile==2025.2.18
timple==0.1.8
tinycss2==1.2.1
tokenizers==0.21.0
torch==2.5.1
tornado==6.3
tqdm==4.68.1
traitlets==5.9.0
transformers==4.49.0
typer==0.7.0
typing_extensions==4.15.0
tzdata==2026.2
uri-template==1.2.0
url-normalize==3.0.0
urllib3==1.26.15
wasabi==1.1.1
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
websockets==16.0
Werkzeug==3.0.6
wrapt==1.14.1
xgboost==3.2.0
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
